<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg " style="background-color: gainsboro;">
        <div class="container border">
            <a class="navbar-brand" href="/">Crud_Demo</a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" >
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sign-in">Sign in</a>
                    </li>
                </ul>
                
            </div>
        </div>
    </nav>
</body>
</html>